# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.env.local
.env.*.local
*.log

# Node / React
node_modules/
dist/
build/
.eslintcache
.vite/

# Database / OS / IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db
